
#title {
    background-image: url(images/newAmericanFlag.png);
    background-repeat: no-repeat;
    margin: auto;
    width: 900px;
    height: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#box {
    margin-left: auto;  
    margin-right: auto;
    width: 350px;
    background-color: #ffffff;
    opacity: 0.75;
    filter: alpha(opacity=75);
    padding
}

#content {
    width: 900px;
    margin: auto;
}

#titleText {
    margin: auto;
    width: 270px;
    vertical-align: middle;
    color: black;
}

div h5 {
    margin: auto;
    margin-bottom: 40px;
}

#tabs-1 {
    
    font-family: Arial;
    
}


.ui-widget-header {
    background:#D91828;
    border: 2px solid #A60303;
    color: #FFFFFF;
    font-weight: bold;
}

#chartData {
    
    background-color: aliceblue;
    border-radius: 10px;
    height: 450px;
    width: auto;
    
}

#chartData1 {
    background-color: aliceblue;
    border-radius: 10px;
    height: 450px;
    width: auto;
}

#chartData2 {
    background-color: aliceblue;
    border-radius: 10px;
    height: 450px;
    width: auto;
}

#chartData20 {
    background-color: aliceblue;
    border-radius: 10px;
    height: 450px;
    width: auto;
}

#chartData21 {
    background-color: aliceblue;
    border-radius: 10px;
    height: 450px;
    width: auto;
}

#chartData22 {
    background-color: aliceblue;
    border-radius: 10px;
    height: 450px;
    width: auto;
}

#chartData30 {
    background-color: aliceblue;
    border-radius: 10px;
    height: 450px;
    width: auto;
}

#chartData31 {
    background-color: aliceblue;
    border-radius: 10px;
    height: 450px;
    width: auto;
}

#chartData32 {
    background-color: aliceblue;
    border-radius: 10px;
    height: 450px;
    width: auto;
}

#questionData {
    text-align: center;
    padding-bottom: 5px;
}

#questionData1 {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

#questionData2 {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

#questionData20 {
    text-align: center;
    padding-bottom: 5px;
}

#questionData21 {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

#questionData22 {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

#questionData30 {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

#questionData31 {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

#questionData32 {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

