
#title {
    background-image: url(images/american-flag-banner.jpg);
    height: 100px;
}

#titleText {
    margin: auto;
    width: 300px;
    vertical-align: middle;
    color: black;
}

div h5 {
    margin: auto;
    margin-bottom: 40px;
}

#tabs-1 {
    font-size: 16px;
    font-family: Arial;
    
}


.ui-widget-header {
    background:#D91828;
    border: 2px solid #A60303;
    color: #FFFFFF;
    font-weight: bold;
}

