
#title {
    background-image: url(images/newAmericanFlag.png);
    background-repeat: no-repeat;
    margin: auto;
    width: 900px;
    height: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#box {
    position: relative;
    top: 30px;
    margin-left: auto;  
    margin-right: auto;
    width: 350px;
    background-color: #ffffff;
    opacity: 0.95;
    filter: alpha(opacity=75);
    border-radius: 10px;
    
}

#content {
    width: 900px;
    margin: auto;
}

#titleText {
    margin: auto;
    width: 270px;
     
    color: black;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

div h5 {
    margin: auto;
    margin-bottom: 40px;
}

#tabs-1 {
    
    font-family: Arial;
    
}


.ui-widget-header {
    background:#D91828;
    border: 2px solid #A60303;
    color: #FFFFFF;
    font-weight: bold;
}


#methodData {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 15px;
    font-style: bold;
}

#partisanPollData {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 15px;
    font-style: bold;
}

#pollsterData {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 15px;
    font-style: bold;
}

#methodData2 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 15px;
    font-style: bold;
}

#partisanPollData2 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 15px;
    font-style: bold;
}

#pollsterData2 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 15px;
    font-style: bold;
}

#methodData3 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 15px;
    font-style: bold;
}

#partisanPollData3 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 15px;
    font-style: bold;
}

#pollsterData3 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 15px;
    font-style: bold;
}


canvas {
    position: relative;
    left: 22px;
}

#chartData {
    
    background-color: aliceblue;
    border-radius: 10px;
    
}

#chartData1 {
    background-color: aliceblue;
    border-radius: 10px;
}

#chartData2 {
    background-color: aliceblue;
    border-radius: 10px;
}

#chartData20 {
    background-color: aliceblue;
    border-radius: 10px;
}

#chartData21 {
    background-color: aliceblue;
    border-radius: 10px;
}

#chartData22 {
    background-color: aliceblue;
    border-radius: 10px;
}

#chartData30 {
    background-color: aliceblue;
    border-radius: 10px;
}

#chartData31 {
    background-color: aliceblue;
    border-radius: 10px;
}

#chartData32 {
    background-color: aliceblue;
    border-radius: 10px;
}

#questionData {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 20px;
    font-style: bold;
    text-align: center;
    padding-bottom: 5px;
}

#questionData1 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 20px;
    font-style: bold;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

#questionData2 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 20px;
    font-style: bold;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

#questionData20 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 20px;
    font-style: bold;
    text-align: center;
    padding-bottom: 5px;
}

#questionData21 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 20px;
    font-style: bold;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

#questionData22 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 20px;
    font-style: bold;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

#questionData30 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 20px;
    font-style: bold;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

#questionData31 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 20px;
    font-style: bold;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

#questionData32 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 20px;
    font-style: bold;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

